@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Hanken Grotesk', Roboto, sans-serif;
    font-size: 14px;
}

.name {
    font-size: 150%;
    line-height: 150%;
    font-weight: bold;
    display: block;
    text-align: center;
}

h1 {
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 1rem 0;
    display: none;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid black !important;
    color: #0D47A1;
    margin: 12px 0 8px 0;
    padding: 0 0 2px 0;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 8px 0 2px 0;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.25em 0;
}

p,
ul {
    font-size: 100%;
    margin: 0;
}

ul,
ol {
    padding: 0 0 0 1.5rem;
    margin: 0;
}

li {
    line-height: 150%;
    padding-top: 2px;
    /* change this for tighter spacing */
    /* default 150% */
}

/* assume images are icons */
/* icons for skills/tools */
.info img {
    width: 15px;
}

/* assume images are icons */
/* icons for contact info */
.info a img {
    width: 12px;
}

a {
    color: #0D47A1;
}

code {
    color: black;
}

time {
    float: right;
    font-size: inherit;
    font-weight: bold;
}

location {
    font-weight: normal;
    font-style: italic;
}

.info {
    display: block;
    text-align: center;
}

span.title {
    color: rgb(72, 72, 255);
}

.center {
    text-align: center;
}

.footnote {
    font-size: 0.9em;
    font-style: italic;
}

.fade-rule {
    height: 1px;
    background-color: #E6E6E6;
    margin: 10px auto;
    background-image: linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -o-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -moz-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -ms-linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white));
}

@media print {
    h2 {
        break-after: avoid;
        /* Avoid breaking right after h2 */
    }

    h3 {
        break-after: avoid;
        /* Avoid breaking right after h3 */
    }

    li {
        break-inside: avoid;
    }

    h3~p,
    h3~ul,
    h3~ol,
    h3~blockquote {
        /* Add other tags as necessary */
        break-before: avoid;
        /* Avoid breaking right before these elements if they follow an h3 */
    }

    h3~h3 {
        break-before: auto;
        /* Allow breaks before a new h3, overriding previous rules */
    }
}

@page {
    /* top, right, bottom, left */
    margin: 0.5in 0.7in;
}

/* @page :first {
    margin-top: 0.65in;
} */

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}
